# Hidden file for frontend configuration called "frontend.env"

# Environment settings
VITE_ENV=production

# Devolopment separeted api endpoint
VITE_DEV_ENDPOINT=https://192.168.1.193:8000

# CookieYes id
VITE_COOKIEYES_ID=<your_id>

# Render Production Mode
VITE_RENDER=false