.env
.pem
.DS_STORE
node_modules
frontend.env
backend.env
ssl
dev-cert.pem
dev-key.pem
ssl-cert.pem
ssl-key.pem


backend/.env
frontend/.env

backend/dist/
frontend/dist/

backend/logs

**/node_modules/
**/.env
**/dist/


